name: rag

networks:
  r2r-network:
    driver: bridge

services:
  postgres:
    image: pgvector/pgvector:pg16
    env_file:
      - ./env/postgres.env
    volumes:
      - ./volumes/postgres_data:/var/lib/postgresql/data
    networks:
      - r2r-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure
    command: >
      postgres
      -c max_connections=1024
    ports:
      - "54322:5432"

  minio:
    image: minio/minio
    env_file:
      - ./env/minio.env
    volumes:
      - ./volumes/minio_data:/data
    networks:
      - r2r-network
    ports:
      - "9900:9000"
      - "9901:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure
    command: server /data --console-address ":9001"

  hatchet-postgres:
    image: postgres:16-alpine
    env_file:
      - ./env/hatchet.env
    volumes:
      - ./volumes/hatchet_postgres_data:/var/lib/postgresql/data
    networks:
      - r2r-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hatchet_user -d hatchet"]
      interval: 10s
      timeout: 5s
      retries: 5

  hatchet-rabbitmq:
    image: "rabbitmq:3-management"
    hostname: "hatchet-rabbitmq"
    # ports:
    #   - "5673:5672"
    #   - "15673:15672"
    networks:
      - r2r-network
    env_file:
      - ./env/hatchet.env
    volumes:
      - ./volumes/hatchet_rabbitmq_data:/var/lib/rabbitmq
      - ./volumes/hatchet_rabbitmq_conf:/etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 10s
      retries: 5

  hatchet-create-db:
    image: postgres:16-alpine
    command: sh /scripts/create-hatchet-db.sh
    volumes:
      - ./scripts:/scripts
    networks:
      - r2r-network
    env_file:
      - ./env/hatchet.env

  hatchet-migration:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-migrate:v0.53.15
    env_file:
      - ./env/hatchet.env
    networks:
      - r2r-network
    depends_on:
      hatchet-create-db:
        condition: service_completed_successfully

  hatchet-setup-config:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-admin:v0.53.15
    command: /hatchet/hatchet-admin quickstart --skip certs --generated-config-dir /hatchet/config --overwrite=false
    env_file:
      - ./env/hatchet.env
    networks:
      - r2r-network
    volumes:
      - ./volumes/hatchet_certs:/hatchet/certs
      - ./volumes/hatchet_config:/hatchet/config
    depends_on:
      hatchet-migration:
        condition: service_completed_successfully
      hatchet-rabbitmq:
        condition: service_healthy

  hatchet-engine:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-engine:v0.53.15
    command: /hatchet/hatchet-engine --config /hatchet/config
    restart: on-failure
    depends_on:
      hatchet-setup-config:
        condition: service_completed_successfully
    networks:
      - r2r-network
    ports:
      - "7077:7077"
    env_file:
      - ./env/hatchet.env
    volumes:
      - ./volumes/hatchet_certs:/hatchet/certs
      - ./volumes/hatchet_config:/hatchet/config
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8733/live"]
      interval: 10s
      timeout: 5s
      retries: 5

  hatchet-dashboard:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-dashboard:v0.53.15
    command: sh ./entrypoint.sh --config /hatchet/config
    restart: on-failure
    depends_on:
      hatchet-setup-config:
        condition: service_completed_successfully
    env_file:
      - ./env/hatchet.env
    volumes:
      - ./volumes/hatchet_certs:/hatchet/certs
      - ./volumes/hatchet_config:/hatchet/config
    networks:
      - r2r-network
    ports:
      - "7274:80"

  setup-token:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-admin:v0.53.15
    command: sh /scripts/setup-token.sh
    volumes:
      - ./scripts:/scripts
      - ./volumes/hatchet_certs:/hatchet/certs
      - ./volumes/hatchet_config:/hatchet/config
      - ./volumes/hatchet_api_key:/hatchet_api_key
    networks:
      - r2r-network
    depends_on:
      hatchet-setup-config:
        condition: service_completed_successfully

  unstructured:
    image: ragtoriches/unst-prod
    networks:
      - r2r-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7275/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  graph_clustering:
    image: ragtoriches/cluster-prod
    # ports:
    #   - "7276:7276"
    networks:
      - r2r-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7276/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  r2r:
    build:
      context: ../py
      dockerfile: Dockerfile
    env_file:
      - ./env/r2r.env
    command: sh /scripts/start-r2r.sh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7272/v3/health"]
      interval: 6s
      timeout: 5s
      retries: 5
    restart: on-failure
    ports:
      - "7272:7272"
    networks:
      - r2r-network
    volumes:
      - ./user_configs:/app/user_configs
      - ./user_tools:/app/user_tools
      - ./volumes/hatchet_api_key:/hatchet_api_key:ro
      - ./scripts:/scripts
    extra_hosts:
      - host.docker.internal:host-gateway
    depends_on:
      setup-token:
        condition: service_completed_successfully
      unstructured:
        condition: service_healthy
      graph_clustering:
        condition: service_healthy

  r2r-dashboard:
    image: sciphiai/r2r-dashboard:1.0.3
    env_file:
      - ./env/r2r-dashboard.env
    ports:
      - "7273:3000"
    networks:
      - r2r-network
